---
title: Home
layout: default
image:
---

<h1>{{ site.title }}</h1>

<!-- Swiper -->
<div class="swiper-container absolute absolute--fill">
  <div class="swiper-wrapper">
    {% assign sorted = site.projects | sort:"position" %}
    {% for project in sorted %}
      {% if project.publish %}
        <div class="swiper-slide" data-hash="{{ project.hash }}">
          <h2 class="absolute bottom-0">{{ project.title }}</h2>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
