---
title: Home
layout: default
image:
---

<a href="#about">
  <h1 class="ma6 top-0 left-0 f1 fw9 white grow shadow absolute z-2">
    {{ site.title }}
  </h1>
</a>

<!-- Swiper -->
<div class="swiper-projects swiper-container absolute absolute--fill">
  <div class="swiper-wrapper">
    {% assign sorted = site.projects | sort:"position" %}
    {% for project in sorted %}
      {% if project.publish %}
        <div class="swiper-slide" data-hash="{{ project.hash }}">

          <div class="swiper-{{ project.hash }} swiper-container absolute absolute--fill">
            <div class="swiper-wrapper">
              {% for image in project.slides %}
              <div class="swiper-slide">
                <img class="vh-100 w-100 obj-fit" src="{{ image }}" />
                <div class="h-15 w-100 bg-white ty--1"></div>
                <div class="h-15 w-100 overflow-hidden ty--2 relative">
                  <img class="vh-100 w-100 blur obj-fit absolute bottom-0" src="{{ image }}" />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <div class=" ph6 pv3 absolute bottom-0 left-0 right-0 z-2">
            <h2 class="mh0 mt0 mb1 f2 fw7 white shadow">{{ project.title }}</h2>
            <p class="ma0 white shadow measure-wide">{{ project.description }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <!-- <div class="swiper-button-prev"></div> -->
  <!-- <div class="swiper-button-next"></div> -->
</div>

<!-- About Modal -->

<div id="about" class="absolute absolute--fill bg-brand90 z-1 dn">
</div>
